.heading{
  background: #aa8e8e;
  color: #792323;
  font-weight: 700;
  font-size: 45px;
  margin: 10px;
  margin-bottom: 20px;
}
input{
  width: 100%;
}
.Todo-items{
  text-align: left;
}
.sk-row{
  margin: 10px 5px;
}
.sk-button{
  min-width: 80px;
}